# --- MuleSoft & Maven (Recursive) ---
target/
.tooling/
.project
.classpath
.settings/
classes/
.mule/

# --- IBM ACE ---
*.bar
*.msgflow.generated

# --- System & logs ---
.DS_Store
Thumbs.db
*.log

# --- Docker Runtime Data (Preserve folder structure, ignore contents) ---
mq/data/
mq/mq/
security/keycloak-data/

# --- Secrets & Environment Configs ---
.env
monitoring/.env
tests/postman/Local_Dev.postman_environment.json